name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ '3.10', '3.11' ]
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install 'tox>=4,<5' 'tox-gh-actions>=3,<4'

      - name: Test using tox
        run: tox

      - name: Upload coverage
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: .coverage.*
          retention-days: 1
          if-no-files-found: error

  reports:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install 'tox ~= 4.0' 'tox-gh-actions ~= 3.0'

      - name: Download .coverage data from tests
        uses: actions/download-artifact@v3
        with:
          name: coverage

      - name: Create flake8 & HTML coverage report using tox
        run: tox -e reports

      - name: Upload HTML coverage report
        uses: actions/upload-artifact@v3
        with:
          name: htmlcov
          path: htmlcov/
          retention-days: 90
          if-no-files-found: error
